

<div class="search">

  <form  #form="ngForm" (submit)="onSubmit()" name="city" [(ngModel)]="cityName">
    
    <input type="text" placeholder="search city">

  </form>
</div>


<div class="container" *ngIf="weatherData">

  <div class="upper-content">

  <img src="../assets/hot.jpg"  *ngIf="weatherData.main.temp > 15" alt="hot">
  
  <img src="../assets/cold.jpg" *ngIf="weatherData.main.temp <= 15" alt="cold">

  <div class="weatherdata">

    <div class="location">{{weatherData.name}}</div>

    <div class="temperature">{{ weatherData.main.temp | number: '1.0-0'}}°C</div>


  </div>

  
  </div>

  <div class="lower-content">

    <div class="moreInfo">
      More Info
    </div>
    <div class="infoContainer">
      
      <div class="infoblock">
        
        <div class="info">

          <img src="../assets/min.png" alt="info">

          <span>min</span>
        
        </div>

        <div class="mininfo">

          {{weatherData.main.temp_min  | number: '1.0-0'}}°C

        </div>
      
      </div>

      <div class="infoblock">
        
        <div class="info">

          <img src="../assets/max.png" alt="info">

          <span>max</span>
        
        </div>

        <div class="mininfo">

          {{weatherData.main.temp_max  | number: '1.0-0'}}°C

        </div>
      
      </div>

      <div class="infoblock">
        
        <div class="info">

          <img src="../assets/humidity.png" alt="info">

          <span>humidity</span>
        
        </div>

        <div class="mininfo">

          {{weatherData.main.humidity}}%

        </div>
      
      </div>


      <div class="infoblock">
        
        <div class="info">

          <img src="../assets/wind.png" alt="info">

          <span>wind</span>
        
        </div>

        <div class="mininfo">

          {{weatherData.wind.speed}}km/h

        </div>
      
      </div>

      </div>

  </div>

</div>

<router-outlet> </router-outlet>



<router-outlet></router-outlet>


   <div class="container">

  <div class="upper-content">

  <img src="../assets/hot.jpg"  *ngIf="14 > 15" alt="hot">
  
  <img src="../assets/cold.jpg" *ngIf=" 14 <= 15" alt="cold">

  <div class="weatherdata">

    <div class="location">wellington</div>

    <div class="temperature">{{ 14.40 | number: '1.0-0'}}°C</div>


  </div>

  
  </div>

  <div class="lower-content">

    <div class="moreInfo">
      More Info
    </div>
    <div class="infoContainer">
      
      <div class="infoblock">
        
        <div class="info">

          <img src="../assets/min.png" alt="info">

          <span>min</span>
        
        </div>

        <div class="mininfo">

          10°C

        </div>
      
      </div>

      <div class="infoblock">
        
        <div class="info">

          <img src="../assets/max.png" alt="info">

          <span>max</span>
        
        </div>

        <div class="mininfo">

          20°C

        </div>
      
      </div>

      <div class="infoblock">
        
        <div class="info">

          <img src="../assets/humidity.png" alt="info">

          <span>humidity</span>
        
        </div>

        <div class="mininfo">

          77%

        </div>
      
      </div>


      <div class="infoblock">
        
        <div class="info">

          <img src="../assets/wind.png" alt="info">

          <span>wind</span>
        
        </div>

        <div class="mininfo">

          11 km/h

        </div>
      
      </div>

      </div>

  </div>

</div>
 





